#nav-container {
	background-color: #ffffff; position : sticky;
	top: 0px;
	left: 0px;
	z-index: 990;
	position: sticky;
	border-bottom-width: 1.5px;
	border-bottom-color: #e6e6e6;
	padding-bottom: 5px;
}
.search-bar-container{
	margin-top: 10px;	
}
.logo{
	font-family: cursive; 
	color: black;
	font-size: 1.9vw;
	margin-left: 90px;
	padding-left: 0px;
	padding-right: 0px;
}
.top-nav-icon {
	width: 25px;
	height: 25px;
}
#srch-term{
/* 	margin-left:50px; */
}
.navbar-nav{
/* 	align-items: center; */
}
#main {
	padding: 0 auto;
}

.timeline-container {
	margin-top : 30px;
	margin:auto;
	max-width:700px;
}

.profile-container{
/* 	margin:auto; */
/* 	max-width:900px; */
	margin-top: 50px;
}
textarea{
	resize: none;
}