<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.mapper.ArticleMapper">
	<insert id="insertArticle" parameterType="ArticleVO"
		useGeneratedKeys="true" keyProperty="article_num">
		INSERT INTO ARTICLE(ID,
		WRITE_TIME, CONTENT)
		VALUES(#{id}, #{write_time}, #{content})
	</insert>

	<insert id="insertArticlePhoto" parameterType="FileVO">
		INSERT INTO
		article_photo(article_num, file_path, file_name, file_origiName)
		VALUES(#{article_num},#{file_path},#{file_name},#{file_origiName})
	</insert>

	<select id="selectAllArticle" resultType="ArticleVO">
		SELECT af.*, m.photo_path 
		FROM (SELECT * FROM ARTICLE
					WHERE ID IN
							(SELECT FOLLOWEE FROM FOLLOW WHERE ID = #{id}) OR ID = #{id}) af, MEMBER m 
			WHERE af.id = m.id
		ORDER BY
		WRITE_TIME DESC;
		
	</select>
	<select id="selectArticlePhoto" resultType="FileVO">
		SELECT * FROM
		article_photo
		WHERE article_num = #{article_num}
	</select>
	
	<select id="selectAllComment" resultType="CommentVO">
		SELECT c.*, m.photo_path 
		FROM comment c, article a, member m 
		WHERE c.article_num = a.article_num AND m.id = c.id AND a.article_num = #{article_num};
	</select>
	
	<select id="selectLastComment" resultType = "CommentVO">
		SELECT c.*, m.photo_path 
		FROM comment c, member m
		WHERE comment_num = 
				(select max(comment_num) from comment where article_num=#{article_num} and id= #{id})
				AND c.id = m.id;
	</select>
	
	<insert id="insertComment" parameterType="CommentVO">
		INSERT INTO
		COMMENT(ARTICLE_NUM, ID, WRITE_TIME, CONTENT)
		VALUES(#{article_num},
		#{id}, #{write_time}, #{content})
	</insert>
	<delete id="deleteComment" parameterType="long">
		DELETE FROM COMMENT
		WHERE COMMENT_NUM = #{comment_num}
	</delete>

	<delete id="deleteNewComment">
		DELETE FROM COMMENT
		WHERE ID = #{id} AND CONTENT =
		#{content}
	</delete>

	<update id="updatePhotoCount">
		UPDATE article
		SET photo_count = #{count}
		WHERE
		article_num = #{article_num}
	</update>

	<select id="selectReact" resultType="int">
		SELECT COUNT(*)
		FROM REACT
		WHERE ARTICLE_NUM = #{article_num} AND ID= #{id}
	</select>
	
	 <update id="countReact">
		UPDATE ARTICLE
		SET REACT_COUNT = REACT_COUNT+1
		WHERE ARTICLE_NUM = #{article_num}
	</update>
	
	<update id="updateReact">
		UPDATE REACT
		SET TYPE_NUM = ${expression}, REACT_TIME = now()
		WHERE ARTICLE_NUM = #{article_num} AND ID = #{id}
	</update>
		
	<insert id="insertReact">
		INSERT INTO REACT(ARTICLE_NUM, ID, TYPE_NUM, REACT_TIME)
		VALUES(#{article_num}, #{id}, ${expression}, now())
		ON DUPLICATE KEY UPDATE ID=#{id} AND ID=#{id},TYPE_NUM=${expression};
	</insert>

	<select id="selectAllReact"   parameterType="long" resultType="ReactVO">
		SELECT * FROM REACT WHERE ARTICLE_NUM = #{article_num};
	</select>

	
	<select id="selectArticle" parameterType="long" resultType="ArticleVO">
		SELECT * FROM ARTICLE WHERE ARTICLE_NUM = #{article_num}
	</select>
</mapper>