<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.mapper.notiMapper">
	<insert id="insertNotification" parameterType="NotificationVO">
		INSERT into
		notification(recieve_id, notification_type, article_num)
		VALUES(#{id}, #{type}, #{article_num});
	</insert>
	<select id="selectNotification" resultType="NotificationVO">
		SELECT *
		FROM NOTIFICATION
		WHERE id = #{id}
	</select>
</mapper>