<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.mapper.ProfileMapper">
	<update id="updateProfile" parameterType="MemberVO"
		useGeneratedKeys="true" keyProperty="article_num">
		UPDATE MEMBER SET PHOTO_PATH = #{photo_path}
		WHERE ID = #{id}
	</update>
	<select id="selectContentCount" resultType="int">
		SELECT count(*)
		FROM
		ARTICLE
		WHERE ID = #{id}
	</select>
	<select id="selectInfo" resultType="MemberVO">
		SELECT *
		FROM MEMBER
		WHERE id =
		#{id}
	</select>

	<select id="selectFisrtArticleList" resultType="ArticleVO">
		SELECT *
		FROM ARTICLE
		WHERE ID = #{id}
		AND article_num &lt;= (SELECT
		MAX(article_num)
		FROM ARTICLE
		WHERE ID= #{id} AND PHOTO_COUNT &gt; 0)
		<!-- &gt == '>' , &lt == '<' -->
		AND PHOTO_COUNT &gt; 0
		ORDER BY write_time DESC
		LIMIT 12
	</select>

	<select id="selectMoreArticleList" resultType="ArticleVO">
		SELECT *
		FROM
		ARTICLE
		WHERE ID = #{id} AND ARTICLE_NUM &lt; #{articleNum}
		AND
		PHOTO_COUNT &gt; 0
		ORDER BY WRITE_TIME DESC
		LIMIT 12
	</select>
	<update id="update" parameterType="MemberVO">
		update MEMBER set
		name=#{name},
		SELF_INFO = #{self_info}, EMAIL = #{email}, PHONE =
		#{phone}, GENDER = #{gender}
		where ID = #{id}
	</update>

	<update id="updatePw">
		update MEMBER set PASSWORD = #{password}
		where ID =
		#{id}
	</update>

	<insert id="insertFollow">
		INSERT into FOLLOW( ID, FOLLOWEE )
		VALUES(#{id},
		#{followee})
	</insert>

	<delete id="deleteFollow">
		DELETE from FOLLOW
		where ID = #{id} AND FOLLOWEE =
		#{followee}
	</delete>

	<select id="selectTotalfollowCount" resultType="int">
		SELECT
		count(followee)
		FROM FOLLOW
		WHERE ID = #{id};
	</select>

	<select id="selectTotalfolloweeCount" resultType="int">
		SELECT
		count(id)
		FROM FOLLOW
		WHERE FOLLOWEE = #{followee};
	</select>

	<select id="selectAllfollow" resultType="FollowVO">
		select f.*,m.PHOTO_PATH
		from FOLLOW f, MEMBER m
		where f.ID = #{id} and f.FOLLOWEE = m.ID;
	</select>

	<select id="selectAllfollower" resultType="FollowVO">
		select
		f.*,m.PHOTO_PATH
		from FOLLOW f, MEMBER m
		where f.FOLLOWEE =#{id} and
		f.ID= m.id;
	</select>

	<delete id="deleteMember" parameterType="MemberVO">
		delete FROM MEMBER where
		ID = #{id}
	</delete>

	<delete id="deleteArticle" parameterType="ArticleVO">
		delete FROM ARTICLE
		where ID = #{id}
	</delete>
	<insert id="insertArticlePhoto" parameterType="FileVO">
		INSERT INTO
		ARTICLE_PHOTO (ARTICLE_NUM, FILE_PATH, FILE_NAME, FILE_ORIGINAME)
		VALUES(#{article_num},#{file_path},#{file_name},#{file_origiName})
	</insert>

	<update id="updateProfilePhoto">
		UPDATE MEMBER SET PHOTO_PATH = ${photo_path} WHERE ID
		= ${id}
	</update>
</mapper>
