<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.mapper.ProfileMapper">
	<select id="selectContentCount" resultType="int">
		SELECT count(*)
		FROM
		article
		WHERE id = #{id}
	</select>
	<select id="selectInfo" resultType="MemberVO">
		SELECT *
		FROM member
		WHERE id =
		#{id}
	</select>

	<select id="selectFisrtArticleList" resultType="ArticleVO">
		SELECT *
		FROM article
		WHERE id = #{id}
		AND article_num &lt;= (SELECT
		MAX(article_num)
		FROM article
		WHERE id= #{id} AND photo_count &gt; 0)
		<!-- &gt == '>' , &lt == '<' -->
		AND photo_count &gt; 0
		ORDER BY write_time DESC
		LIMIT 12
	</select>

	<select id="selectMoreArticleList" resultType="ArticleVO">
		SELECT *
		FROM
		article
		WHERE id = #{id} AND article_num &lt; #{articleNum}
		AND
		photo_count &gt; 0
		ORDER BY write_time DESC
		LIMIT 12
	</select>
	<update id="update" parameterType="MemberVO">
		update member set name=#{name},
		self_info=#{self_info},email=#{email},phone=#{phone},gender=#{gender}
		where id=#{id}
	</update>

	<update id="updatePw" >
		update member set password=#{password} where id=#{id}
	</update>
	
	<insert id="insertFollow">
		INSERT into follow(id, followee)
		VALUES(#{id}, #{followee})
	</insert>
	
	<delete id="deleteFollow">
		DELETE from follow
		where id = #{id} AND followee = #{followee}
	</delete>	
	
	<select id="selectTotalfollowCount" resultType="int">
		SELECT count(followee) 
		FROM follow 
		WHERE id = #{id}; 
	</select>
	
	<select id="selectTotalfolloweeCount" resultType="int">
		SELECT count(id) 
		FROM follow 
		WHERE followee = #{followee}; 
	</select>
	
	<select id="selectAllfollow" resultType="FollowVO">
		SELECT * 
		FROM follow 
		WHERE id = #{id}; 
	</select>
	
	<select id="selectAllfollower" resultType="FollowVO">
		SELECT *
		FROM follow 
		WHERE followee = #{id}; 
	</select>
	
	<delete id="deleteMember" parameterType="MemberVO"> 
		delete from member where id=#{id} 
	</delete>

	<delete id="deleteArticle" parameterType="ArticleVO">
		 delete from article where id=#{id}
  	</delete>
  	<insert id="insertArticlePhoto" parameterType="FileVO"> 
  		INSERT INTO article_photo(article_num, file_path, file_name, file_origiName) VALUES(#{article_num},#{file_path},#{file_name},#{file_origiName}) 
  	</insert>
</mapper>
